<ion-content>
    <img class="icon" src="../../../assets/icon/exam.png" alt="Icono">
  
    <ion-card mode="ios"> 
  
    <ion-card-content>
  
    <ion-item lines="none">
      <ion-label position="floating" shape="round">Correo electrónico</ion-label>
      <ion-input type="text" name="email"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
        <ion-label position="floating" shape="round">Contraseña</ion-label>
        <ion-input type="password" name="password"></ion-input>
    </ion-item>
  
    <br>
  
    <ion-button expand="full" shape="round" mode="ios">Iniciar sesión</ion-button>
  
    </ion-card-content>
  
    </ion-card>
  
    <ion-card mode="ios">
      <ion-card-content>
          <ion-item lines="none" (click)="buttonClick()" detail>
            <img class="password" src="../../../assets/icon/lock.png" alt="Icono">
              <ion-label  text-center shape="round">
                ¿Olvidó su contraseña?
              </ion-label>
            </ion-item>
      </ion-card-content>
    </ion-card>
    
  </ion-content>
