<ion-content>
    <img class="icon" src="../../../assets/icon/exam.png" alt="Icono">
  
    <ion-card mode="ios"> 
  
    <ion-card-content>
  
    <ion-item lines="none">
      <ion-label position="floating" shape="round">Cédula</ion-label>
      <ion-input type="text" name="cedula"></ion-input>
    </ion-item>
  
    <ion-item lines="none">
        <ion-label position="floating" shape="round">Nombre</ion-label>
        <ion-input type="text" name="nombre"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="floating" shape="round">Apellido</ion-label>
        <ion-input type="text" name="apellido"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="floating" shape="round">Teléfono</ion-label>
        <ion-input type="phone" name="phone"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="floating" shape="round">Correo</ion-label>
        <ion-input type="text" name="email"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label position="floating" shape="round">Correo</ion-label>
        <ion-input type="text" name="email"></ion-input>
    </ion-item>
  
  </ion-card-content>
    
  </ion-card>

  <ion-button expand="block" shape="round" mode="ios" (click)="onClick()">Crear</ion-button>
  
    <!-- <ion-card mode="ios">
      <ion-card-content>
          <ion-item lines="none" detail="false" href="https://www.ionicframework.com">
            <img class="password" src="../../../assets/icon/lock.png" alt="Icono">
              <ion-label  text-center shape="round">
                ¿Olvidó su contraseña?
              </ion-label>
            </ion-item>
      </ion-card-content>
    </ion-card> -->
    
  </ion-content>
