<ion-content>
  <ion-card mode="ios">
    <ion-grid>
        <ion-row>

            <ion-col col-5>
                <ion-card class="ion-padding ion-text-center" color="primary" mode="ios" color="light" (click)="Onlogout()">
                    <ion-icon name="exit"></ion-icon>
                    <p style="font-size: 1.1em">Profesor</p>
                </ion-card>
        </ion-col>

            <ion-col col-5>
                    <ion-card class="ion-padding ion-text-center" color="primary" mode="ios" color="light" (click)="Onlogout()">
                        <ion-icon name="exit"></ion-icon>
                        <p style="font-size: 1.1em">Director</p>
                    </ion-card>
            </ion-col>

            <ion-col col-5>
                <ion-card class="ion-padding ion-text-center" color="primary" mode="ios" color="light" (click)="Onlogout()">
                    <ion-icon name="exit"></ion-icon>
                    <p style="font-size: 1.1em">Control de estudio sectorial</p>
                </ion-card>
            </ion-col>

          <ion-col col-5>
            <ion-card class="ion-padding ion-text-center" color="primary" mode="ios" color="light" (click)="Onlogout()">
                <ion-icon name="exit"></ion-icon>
                <p style="font-size: 1.1em">Consejo de area</p>
            </ion-card>
          </ion-col>

          <ion-col col-5>
              <ion-card class="ion-padding ion-text-center" color="primary" mode="ios" color="light" (click)="Onlogout()">
                  <ion-icon name="exit"></ion-icon>
                  <p style="font-size: 1.1em">Control de estudio central</p>
              </ion-card>
          </ion-col>

        </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
